img,
.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}
.page-numbers {
	@extend .pagination;
	&:empty {
		margin: 0;
	}
}
.wp-caption {
	border: 1px solid $lightGray;
	margin: 0 0 1em 0;
	max-width: 100%;
	background: $lighterGray;
	text-align: center;
	&.aligncenter {
		margin-bottom: 1em;
	}
	&.alignleft {
		margin-right: 1em;
		padding-top: 0.3125em;
	}
	&.alignright {
		margin-left: 1em;
		padding-top: 0.3125em;
	}
	img {
		margin: 0 auto;
	}
}
.wp-caption-text {
	text-align: center;
	margin: 0;
	padding: 0.4375em 0;
	font-size: 0.8571428571em;
	line-height: 1.2;
	@include box-sizing(border-box);
}
.sticky {
	position: static;
}
.gallery-caption {
	background: transparent;
	color: $darkGray;
	padding: 0.3125em;
	p {
		margin-bottom: 0;
	}
}
.entry-caption {
	@extend .gallery-caption;
}
.bypostauthor {
	position: static;
}
img.alignright {
	margin: .6125em 0 .6125em .75em;
}
img.alignleft {
	margin: 6125em .75em 6125em 0;
}
img.aligncenter {
	margin: .6125em 0;
}
