/* Sass Bootstrap Documentation Special styles for presenting Bootstrap's documentation and code examples. */
/* Key scaffolding
-------------------------------------------------- */
/* line 14, ../../sass/bs3.0.0/docs.scss */
body { padding-top: 50px; position: relative; /* For scrollyspy */ /* We add the padding to the body for >768px only */ }

/*  */
/* line 21, ../../sass/bs3.0.0/docs.scss */
.bs-docs-footer { padding-left: 15px; padding-right: 15px; }

/* Sections
-------------------------------------------------- */
/* Padding for in-page bookmarks */
/* line 32, ../../sass/bs3.0.0/docs.scss */
section { padding-top: 30px; }
/* line 36, ../../sass/bs3.0.0/docs.scss */
.container > .row section:first-child { padding-top: 0; }

/* Few stylistic typography tweaks */
/* line 43, ../../sass/bs3.0.0/docs.scss */
section > .page-header, section > .lead { color: #5a5a5a; }

/* line 46, ../../sass/bs3.0.0/docs.scss */
section > ul li { margin-bottom: 5px; }

/* Navbar
-------------------------------------------------- */
/* line 59, ../../sass/bs3.0.0/docs.scss */
.bs-docs-navbar { background-color: #fff; border-bottom: 1px solid #f0c9f3; }

/* line 68, ../../sass/bs3.0.0/docs.scss */
.bs-docs-navbar .nav > li > a:hover, .bs-docs-navbar .nav > li > a:focus { outline: 0 none; background-color: #f6f2f7; }
/* line 78, ../../sass/bs3.0.0/docs.scss */
.bs-docs-navbar .nav > li.active > a, .bs-docs-navbar .nav > li.active > a:hover, .bs-docs-navbar .nav > li.active > a:focus { font-weight: 500; background-color: transparent; color: #ce4dd6; cursor: default; }

/* line 90, ../../sass/bs3.0.0/docs.scss */
.navbar-brand b { color: #ce4dd6; }

/* Jumbotrons
-------------------------------------------------- */
/* Base class */
/* line 100, ../../sass/bs3.0.0/docs.scss */
.bs-docs-jumbotron { position: relative; margin-bottom: 20px; padding: 30px 15px; color: #fff; text-align: center; background-color: #9b3aa1; }

/* line 108, ../../sass/bs3.0.0/docs.scss */
.bs-docs-jumbotron h1 { font-size: 50px; }

/* Link styles (used on .masthead-links as well) */
/* line 113, ../../sass/bs3.0.0/docs.scss */
.bs-docs-jumbotron a { color: #fff; color: rgba(255, 255, 255, 0.5); -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

/* line 120, ../../sass/bs3.0.0/docs.scss */
.bs-docs-jumbotron a:hover { color: #fff; }

/* Download button */
/* line 125, ../../sass/bs3.0.0/docs.scss */
.bs-docs-jumbotron .btn { padding: 18px 24px; font-size: 21px; }

/* line 131, ../../sass/bs3.0.0/docs.scss */
.bs-docs-jumbotron .btn, .bs-docs-jumbotron .btn:hover, .bs-docs-jumbotron .btn:active { color: #9b3aa1; background-color: #fff; border-color: #fff; }

/* Masthead (docs home)
------------------------- */
/* line 139, ../../sass/bs3.0.0/docs.scss */
.masthead h1 { line-height: 1; }

/* Textual links in masthead */
/* line 144, ../../sass/bs3.0.0/docs.scss */
.masthead-links { margin: 20px 0; list-style: none; }

/* line 148, ../../sass/bs3.0.0/docs.scss */
.masthead-links li { display: inline; padding: 0 10px; color: rgba(255, 255, 255, 0.25); }

/* Marketing section of Overview
-------------------------------------------------- */
/* line 159, ../../sass/bs3.0.0/docs.scss */
.bs-docs-marketing { text-align: center; color: #5a5a5a; }

/* line 163, ../../sass/bs3.0.0/docs.scss */
.bs-docs-marketing h1 { margin: 60px 0 10px; font-size: 50px; line-height: 1; }

/* line 168, ../../sass/bs3.0.0/docs.scss */
.bs-docs-marketing h2 { margin-bottom: 5px; }

/* line 171, ../../sass/bs3.0.0/docs.scss */
.bs-docs-marketing p { font-size: 16px; line-height: 1.4; }

/* line 175, ../../sass/bs3.0.0/docs.scss */
.bs-docs-marketing .marketing-byline { margin-bottom: 40px; font-size: 21px; font-weight: 300; line-height: 1.25; color: #999; }

/* line 182, ../../sass/bs3.0.0/docs.scss */
.marketing-img { display: block; margin: 30px auto 10px; max-height: 145px; }

/* Special grid styles
-------------------------------------------------- */
/* line 193, ../../sass/bs3.0.0/docs.scss */
.show-grid { margin-bottom: 15px; }

/* line 196, ../../sass/bs3.0.0/docs.scss */
.show-grid [class^="span"] { padding-top: 10px; padding-bottom: 10px; background-color: #eee; border: 1px solid #dddddd; }

/* line 202, ../../sass/bs3.0.0/docs.scss */
.show-grid [class^="span"]:hover { background-color: #ddd; }

/* Sidenav
-------------------------------------------------- */
/* Base styles are not affixable given mobile-first */
/* line 212, ../../sass/bs3.0.0/docs.scss */
.bs-docs-sidenav { margin: 20px 0 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* line 218, ../../sass/bs3.0.0/docs.scss */
.bs-docs-sidenav.affix { position: static; top: 0; }

/* Chevrons within each link */
/* line 224, ../../sass/bs3.0.0/docs.scss */
.bs-docs-sidenav .glyphicon-chevron-right { float: right; margin-top: 1px; margin-right: -6px; opacity: .25; color: #000; }

/* line 231, ../../sass/bs3.0.0/docs.scss */
.bs-docs-sidenav a:hover .glyphicon-chevron-right { opacity: .5; }

/* line 235, ../../sass/bs3.0.0/docs.scss */
.bs-docs-sidenav .active .glyphicon-chevron-right, .bs-docs-sidenav .active a:hover .glyphicon-chevron-right { color: #fff; opacity: 1; }

/* Bootstrap code examples
-------------------------------------------------- */
/* Base class */
/* line 246, ../../sass/bs3.0.0/docs.scss */
.bs-docs-example { position: relative; padding: 39px 14px 14px; margin-bottom: -1px; border: 1px solid #dddddd; border-top-left-radius: 4px; border-top-right-radius: 4px; }
/* line 254, ../../sass/bs3.0.0/docs.scss */
.bs-docs-example .navbar-fixed-top, .bs-docs-example .navbar-fixed-bottom { position: absolute; z-index: 1029; }

/* Echo out a label for the example */
/* line 263, ../../sass/bs3.0.0/docs.scss */
.bs-docs-example:after { content: "Example"; position: absolute; top: -1px; left: -1px; padding: 3px 7px; font-size: 12px; font-weight: bold; color: #9da0a4; background-color: #f5f5f5; border: 1px solid #dddddd; border-top-left-radius: 4px; border-bottom-right-radius: 4px; }

/* Tweak display of the examples */
/* line 280, ../../sass/bs3.0.0/docs.scss */
.bs-docs-example + .prettyprint, .bs-docs-example + .highlight { margin-top: 0; border-top-left-radius: 0; border-top-right-radius: 0; }

/* Tweak content of examples for optimum awesome */
/* line 299, ../../sass/bs3.0.0/docs.scss */
.bs-docs-example > p:last-child, .bs-docs-example > ul:last-child, .bs-docs-example > ol:last-child, .bs-docs-example > blockquote:last-child, .bs-docs-example > input:last-child, .bs-docs-example > select:last-child, .bs-docs-example > textarea:last-child, .bs-docs-example > .table:last-child, .bs-docs-example > .jumbotron:last-child, .bs-docs-example > .alert:last-child { margin-bottom: 0; }

/* Tooltips */
/* line 304, ../../sass/bs3.0.0/docs.scss */
.bs-docs-tooltip-examples { text-align: center; margin: 0 0 10px; list-style: none; }

/* line 309, ../../sass/bs3.0.0/docs.scss */
.bs-docs-tooltip-examples li { display: inline; padding: 0 10px; }

/* Popovers */
/* line 315, ../../sass/bs3.0.0/docs.scss */
.bs-docs-example-popover { padding-bottom: 24px; background-color: #f9f9f9; }

/* line 319, ../../sass/bs3.0.0/docs.scss */
.bs-docs-example-popover .popover { position: relative; display: block; float: left; width: 260px; margin: 20px; }

/* Dropdowns */
/* line 328, ../../sass/bs3.0.0/docs.scss */
.bs-docs-example-submenus { min-height: 180px; }

/* line 331, ../../sass/bs3.0.0/docs.scss */
.bs-docs-example-submenus > .pull-left + .pull-left { margin-left: 20px; }

/* line 335, ../../sass/bs3.0.0/docs.scss */
.bs-docs-example-submenus .dropup > .dropdown-menu, .bs-docs-example-submenus .dropdown > .dropdown-menu { display: block; position: static; margin-bottom: 5px; *width: 180px; }

/* Typography */
/* line 344, ../../sass/bs3.0.0/docs.scss */
.bs-docs-example-type .table td { color: #999; vertical-align: middle; }

/* line 350, ../../sass/bs3.0.0/docs.scss */
.bs-docs-example-type .table td, .bs-docs-example-type .table th { padding: 15px 0; border-color: #eee; }

/* line 355, ../../sass/bs3.0.0/docs.scss */
.bs-docs-example-type .table tr:first-child td, .bs-docs-example-type .table tr:first-child th { border-top: 0; }

/* line 363, ../../sass/bs3.0.0/docs.scss */
.bs-docs-example-type h1, .bs-docs-example-type h2, .bs-docs-example-type h3, .bs-docs-example-type h4, .bs-docs-example-type h5, .bs-docs-example-type h6 { margin: 0; }

/* Navbar examples */
/* line 370, ../../sass/bs3.0.0/docs.scss */
.bs-navbar-top-example, .bs-navbar-bottom-example { z-index: 1; padding: 0; height: 90px; overflow: hidden; /* cut the drop shadows off */ }

/* line 377, ../../sass/bs3.0.0/docs.scss */
.bs-navbar-top-example .navbar-fixed-top, .bs-navbar-bottom-example .navbar-fixed-bottom { margin-left: 0; margin-right: 0; }

/* line 381, ../../sass/bs3.0.0/docs.scss */
.bs-navbar-top-example { -webkit-border-radius: 0 0 4px 4px; -moz-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px; }

/* line 386, ../../sass/bs3.0.0/docs.scss */
.bs-navbar-top-example:after { top: auto; bottom: -1px; -webkit-border-radius: 0 4px 0 4px; -moz-border-radius: 0 4px 0 4px; border-radius: 0 4px 0 4px; }

/* line 393, ../../sass/bs3.0.0/docs.scss */
.bs-navbar-bottom-example { -webkit-border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0; }

/* line 398, ../../sass/bs3.0.0/docs.scss */
.bs-navbar-bottom-example .navbar { margin-bottom: 0; }

/* Example modals */
/* line 403, ../../sass/bs3.0.0/docs.scss */
.bs-docs-example-modal { background-color: #f5f5f5; }

/* line 406, ../../sass/bs3.0.0/docs.scss */
.bs-docs-example-modal .modal { position: relative; top: auto; right: auto; left: auto; bottom: auto; z-index: 1; display: block; }

/* line 415, ../../sass/bs3.0.0/docs.scss */
.bs-docs-example-modal .modal-dialog { left: auto; margin-left: auto; margin-right: auto; }

/* Example dropdowns */
/* line 424, ../../sass/bs3.0.0/docs.scss */
.bs-docs-example > .dropdown > .dropdown-menu, .bs-docs-example-submenu > .pull-left > .dropup > .dropdown-menu, .bs-docs-example-submenu > .pull-left > .dropdown > .dropdown-menu { position: static; display: block; margin-bottom: 5px; }

/* line 429, ../../sass/bs3.0.0/docs.scss */
.bs-docs-example-submenu { min-height: 240px; }

/* line 432, ../../sass/bs3.0.0/docs.scss */
.bs-docs-example-submenu > .pull-left + .pull-left { margin-left: 20px; }

/* Example tabbable tabs */
/* line 437, ../../sass/bs3.0.0/docs.scss */
.bs-docs-example-tabs .nav-tabs { margin-bottom: 15px; }

/* Example templates
-------------------------------------------------- */
/* line 445, ../../sass/bs3.0.0/docs.scss */
.bs-docs-examples h4 { margin-bottom: 5px; }

/* line 448, ../../sass/bs3.0.0/docs.scss */
.bs-docs-examples p { margin-bottom: 20px; }

/* Icons
-------------------------------------------------- */
/* line 457, ../../sass/bs3.0.0/docs.scss */
.the-icons { padding-bottom: 1px; margin-left: 0; list-style: none; margin-bottom: 20px; overflow: hidden; }

/* line 464, ../../sass/bs3.0.0/docs.scss */
.the-icons li { float: left; width: 100px; height: 110px; padding: 10px; border: 1px solid #dddddd; font-size: 12px; line-height: 1.25; text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0 -1px -1px 0; }

/* line 478, ../../sass/bs3.0.0/docs.scss */
.the-icons .glyphicon { display: block; margin: 5px auto; vertical-align: middle; margin-right: 3px; font-size: 24px; }

/* line 485, ../../sass/bs3.0.0/docs.scss */
.the-icons li:hover { background-color: rgba(255, 0, 0, 0.1); }

/* Responsive docs
-------------------------------------------------- */
/* Related: responsive utilities tables */
/* line 495, ../../sass/bs3.0.0/docs.scss */
.table code { font-size: 13px; font-weight: normal; }

/* Utility classes table
------------------------- */
/* line 502, ../../sass/bs3.0.0/docs.scss */
.responsive-utilities th small { display: block; font-weight: normal; color: #999; }

/* line 507, ../../sass/bs3.0.0/docs.scss */
.responsive-utilities tbody th { font-weight: normal; }

/* line 510, ../../sass/bs3.0.0/docs.scss */
.responsive-utilities td { text-align: center; }

/* line 513, ../../sass/bs3.0.0/docs.scss */
.responsive-utilities td.is-visible { color: #468847; background-color: #dff0d8 !important; }

/* line 517, ../../sass/bs3.0.0/docs.scss */
.responsive-utilities td.is-hidden { color: #ccc; background-color: #f9f9f9 !important; }

/* Responsive tests
------------------------- */
/* line 524, ../../sass/bs3.0.0/docs.scss */
.responsive-utilities-test { margin-top: 5px; margin-left: 0; list-style: none; overflow: hidden; /* clear floats */ }

/* line 530, ../../sass/bs3.0.0/docs.scss */
.responsive-utilities-test li { position: relative; float: left; width: 25%; height: 43px; font-size: 14px; font-weight: bold; line-height: 43px; color: #999; text-align: center; border: 1px solid #dddddd; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

/* line 545, ../../sass/bs3.0.0/docs.scss */
.responsive-utilities-test li + li { margin-left: 10px; }

/* line 548, ../../sass/bs3.0.0/docs.scss */
.responsive-utilities-test span { position: absolute; top: -1px; left: -1px; right: -1px; bottom: -1px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

/* line 558, ../../sass/bs3.0.0/docs.scss */
.responsive-utilities-test span { color: #468847; background-color: #dff0d8; border: 1px solid #d6e9c6; }

/* Footer
-------------------------------------------------- */
/* line 569, ../../sass/bs3.0.0/docs.scss */
.bs-docs-footer { text-align: center; padding: 30px 0; margin-top: 100px; }
/* line 574, ../../sass/bs3.0.0/docs.scss */
.bs-docs-footer, .bs-docs-footer .attrib { border-top: 1px solid #e5e5e5; }
/* line 578, ../../sass/bs3.0.0/docs.scss */
.bs-docs-footer .attrib { margin-top: 30px; padding-top: 15px; }

/* line 584, ../../sass/bs3.0.0/docs.scss */
.bs-docs-footer p { margin-bottom: 0; color: #777; }

/* line 588, ../../sass/bs3.0.0/docs.scss */
.footer-links { margin: 10px 0; }

/* line 591, ../../sass/bs3.0.0/docs.scss */
.footer-links li { display: inline; padding: 0 2px; }

/* line 595, ../../sass/bs3.0.0/docs.scss */
.footer-links li:first-child { padding-left: 0; }

/* Social proof buttons from GitHub & Twitter */
/* line 600, ../../sass/bs3.0.0/docs.scss */
.bs-docs-social { margin-top: 10px; margin-bottom: 20px; text-align: center; }

/* Quick links on Home */
/* line 606, ../../sass/bs3.0.0/docs.scss */
.bs-docs-social-buttons { display: inline-block; margin: 0; padding: 0 10px; list-style: none; }

/* line 612, ../../sass/bs3.0.0/docs.scss */
.bs-docs-social-buttons li { display: inline-block; padding: 5px 8px 5px 0; line-height: 1; }
/* line 616, ../../sass/bs3.0.0/docs.scss */
.bs-docs-social-buttons li:last-child { padding-right: 0; }

/* line 620, ../../sass/bs3.0.0/docs.scss */
.bs-docs-social-buttons .twitter-follow-button { width: 225px !important; }

/* line 623, ../../sass/bs3.0.0/docs.scss */
.bs-docs-social-buttons .twitter-share-button { width: 98px !important; }

/* Misc docs stuff
-------------------------------------------------- */
/* Pseudo :focus state for showing how it looks in the docs */
/* line 633, ../../sass/bs3.0.0/docs.scss */
input.focused { border-color: rgba(82, 168, 236, 0.8); outline: 0; outline: thin dotted \9; /* IE6-9 */ -moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6); box-shadow: 0 0 8px rgba(82, 168, 236, 0.6); }

/* Scrollspy demo on fixed height div */
/* line 642, ../../sass/bs3.0.0/docs.scss */
.scrollspy-example { position: relative; height: 200px; margin-top: 10px; overflow: auto; }

/* line 649, ../../sass/bs3.0.0/docs.scss */
.highlight { padding: 9px 14px; margin-bottom: 14px; background-color: #f7f7f9; border: 1px solid #e1e1e8; border-radius: 4px; }

/* line 656, ../../sass/bs3.0.0/docs.scss */
.highlight pre { padding: 0; margin-bottom: 0; background-color: transparent; border: 0; }

/* line 662, ../../sass/bs3.0.0/docs.scss */
.highlight pre code { font-size: inherit; color: #333; /* Effectively the base text color */ }

/* line 666, ../../sass/bs3.0.0/docs.scss */
.highlight pre .lineno { display: inline-block; width: 22px; padding-right: 5px; margin-right: 10px; text-align: right; color: #bebec5; }

/* Docs gallery
-------------------------------------------------- */
/* line 680, ../../sass/bs3.0.0/docs.scss */
.bs-docs-gallery .thumbnail { max-width: 400px; margin: 0 auto 20px; }

/* Responsive variations
-------------------------------------------------- */
/* Hide code snippets on mobile devices */
@media screen and (max-width: 480px) { /* line 691, ../../sass/bs3.0.0/docs.scss */
  .bs-docs-example { border-radius: 4px; }
  /* line 694, ../../sass/bs3.0.0/docs.scss */
  .highlight { display: none; } }
/* Tablets and up */
@media screen and (min-width: 768px) { /* Account for fixed navbar (which is static to start) */
  /* line 703, ../../sass/bs3.0.0/docs.scss */
  body { padding-top: 50px; /* Default height of navbar */ }
  /* Tweak display of docs jumbotrons */
  /* line 708, ../../sass/bs3.0.0/docs.scss */
  .masthead { padding-top: 100px; padding-bottom: 100px; }
  /* line 712, ../../sass/bs3.0.0/docs.scss */
  .masthead h1 { font-size: 100px; }
  /* line 715, ../../sass/bs3.0.0/docs.scss */
  .masthead p { font-size: 30px; margin-left: 10%; margin-right: 10%; }
  /* line 720, ../../sass/bs3.0.0/docs.scss */
  .subhead { padding-top: 60px; padding-bottom: 60px; text-align: left; }
  /* From here, start to affix the nav because we keep columns here */
  /* line 727, ../../sass/bs3.0.0/docs.scss */
  .bs-docs-sidenav.affix { position: fixed; top: 54px; }
  /* line 731, ../../sass/bs3.0.0/docs.scss */
  .bs-docs-sidenav { width: 170px; }
  /* line 734, ../../sass/bs3.0.0/docs.scss */
  .bs-docs-sidenav.affix-bottom { position: absolute; top: auto; bottom: 270px; }
  /* line 741, ../../sass/bs3.0.0/docs.scss */
  section > h2, section > .h2 { margin-top: 60px; }
  /* line 746, ../../sass/bs3.0.0/docs.scss */
  section > h3, section > .h3 { margin-top: 30px; } }
/* Tablets/desktops and up */
@media screen and (min-width: 992px) { /* Icons */
  /* line 756, ../../sass/bs3.0.0/docs.scss */
  .the-icons li { width: 12.5%; }
  /* line 760, ../../sass/bs3.0.0/docs.scss */
  .bs-docs-sidenav { width: 220px; } }
/* Large desktops and up */
@media screen and (min-width: 1200px) { /* line 767, ../../sass/bs3.0.0/docs.scss */
  .bs-docs-sidenav { width: 260px; } }
/* line 21, ../../sass/bs3.0.0/_mixins.scss */
.clearfix:before, .clearfix:after { content: " "; display: table; line-height: 0; }
/* line 28, ../../sass/bs3.0.0/_mixins.scss */
.clearfix:after { clear: both; }

/* line 12, ../../sass/bs3.0.0/_utilities.scss */
.pull-right { float: right; }

/* line 15, ../../sass/bs3.0.0/_utilities.scss */
.pull-left { float: left; }

/* line 23, ../../sass/bs3.0.0/_utilities.scss */
.hide { display: none !important; }

/* line 26, ../../sass/bs3.0.0/_utilities.scss */
.show { display: block !important; }

/* line 29, ../../sass/bs3.0.0/_utilities.scss */
.invisible { visibility: hidden; }

/* line 32, ../../sass/bs3.0.0/_utilities.scss */
.text-hide { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; }

/* line 40, ../../sass/bs3.0.0/_utilities.scss */
.affix { position: fixed; }
